@font-face {
	font-family:'FontAwesome';
	src:url("fonts/fontAwesome.otf");
}
@font-face {
    font-family: Nunito-Bold;
    src: url(fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: Nunito-ExtraLight;
    src: url(fonts/Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family: Nunito-Light;
    src: url(fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
    font-family: Nunito-SemiBold;
    src: url(fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: Nunito-Medium;
    src: url(fonts/Nunito/Nunito-Medium.ttf);
}
@font-face {
    font-family: Nunito-Black;
    src: url(fonts/Nunito/Nunito-Black.ttf);
}

@font-face {
    font-family: Nunito-Regular;
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(fonts/Rubik/Rubik-Bold.ttf);
}
@font-face {
    font-family: Rubik-Light;
    src: url(fonts/Rubik/Rubik-Light.ttf);
}
@font-face {
    font-family: Rubik-Medium;
    src: url(fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
    font-family: Rubik-Black;
    src: url(fonts/Rubik/Rubik-Black.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(fonts/Rubik/Rubik-Regular.ttf);
}


@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(fonts/Montserrat/Montserrat-ExtraLight.otf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(fonts/Montserrat/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat/Montserrat-Medium.otf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat/Montserrat-Black.otf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(fonts/Montserrat/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat/Montserrat-Regular.otf);
}
@font-face {
    font-family: Montserrat-Thin;
    src: url(fonts/Montserrat/Montserrat-Thin.otf);
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row{
	width: 100%;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

.floatRight{
	float: right !Important;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

header, body{
	font-family: Nunito-Regular;
	background-color: white;
	overflow-x: hidden;
}
h, h2, h3, h4, p{
	line-height: 100%;
}

.Footer h2{
	font-size: 20pt;
	font-family: Rajdhani-Light;
	text-align: center;
}
