/* Position the content inside the explore */
.explore {
    width: 0;
	height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
	transition: width .4s ease-in-out;
}

.exploreDiv{
	position: absolute;
	z-index: 4;
}
.exploreButtonActive{
	font-size: 17px;
	margin-top: -8px;
}

.exploreContent{
	position: relative;
	height: 100%;
    text-align: left;
	 font-family: Nunito-Regular;
	transition: 0.4s ease-in-out;
	background-color: white;
	overflow-x: hidden;
}
#exploreContent{
	width: 0;
}

.inputField{
	margin-top: 5px;
	margin-bottom: 8px;
}

.exploreContent input{
	background-color: transparent;
	width: 76%;
	margin-left: 12%;
	padding: 0 8px;
	border: 1px solid black;
	border-radius: 5px;
    font-size: 16px;
    height: 25px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.exploreContent input:hover, .exploreContent input:focus {
  border-color: #38c0ff;
}

.exploreCloseButton{
	top: 5px;
	right: 5px;
	text-align: right;
}

.exploreHeading{
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: rgba(56,131,174,1.0);
    padding: 2%;
}

/* The navigation links inside the explore */
.exploreContent a {
	cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    color: black;
    transition: 0.2s; /* Transition effects on hover (color) */
	margin-left: 12%;
}

.exploreContent li{
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

/* When you mouse over the navigation links, change their color */
.exploreContent a:hover, .exploreContent a:focus {
    color: #2871af;
}

.exploreContent h2 {
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    padding-bottom: 10px;
    padding-left: 10%;
    cursor: pointer;
    padding-top: 10px;
}

.exploreContent form{
	padding: 30px 0 0 0;
}

.causeList, .fundingLevels{
	display: block;
	transition: 0.3s ease-in-out;
}

.downArrow{
    font-size: 18px !Important;
    text-align: right !Important;
    padding-right: 5px !Important;
	color: white !Important;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .exploreContent a {font-size: 20px}
    .exploreContent .closebtn {
        font-size: 40px;
        right: 30px;
    }
}