
.footerOptions{
	background-color: #0d0d0d;
	padding: 3.5%;
	border-bottom: 2px solid #c2c2c2;
}

.footerOptions a{
	cursor: pointer;
	color: white;
}

.footerOptions a:hover, .footerOptions a:focus {
    color: #38c0ff;
}

.footerAboutUs, .footerCauses, .footerWorks{
	margin-left: 8.33%;
	padding-top: 10px;
}

.footerCauses2{
	margin-top: 34px;
}

.footerBottom{
	background-color: #0a0a0a;
	padding: 15px 30px 15px 30px;
}

footer h2{
	font-size: 18px;
	font-family: Nunito-ExtraLight;
	color: white;
	margin: 3px 0 3px 0;
}

footer h1{
	font-size: 24px;
	font-family: Montserrat-Regular;
	color: white;
	margin-bottom: 5px;
}

footer img{
	height: 40px;
}