.header{
	box-shadow: 0 4px 8px 0 #373737;
}

header{
	text-align: center;
	color: #373737;
}

header h2{
	font-size: 15px;
	font-family: Nunito-Regular;
	margin-top: -5px;
	transition: 0.1s;
}

.mainNavBarButton h2:hover{
	color: 	#38c0ff;
}

.logo  img{
	height: 35px;
	margin: 5px;
	cursor:pointer;
}

.navBarLowerArrow{
	height: 10px;
	float: right;
	margin-right: 3px;
	cursor: pointer;
}

.mainNavBarButton{
	margin-top: 15px;
	padding-bottom: 5px;
}

.navBarExploreButton{
	cursor: pointer;
	text-align: left !Important;
}

.navBarSignUpButton{
	text-align: right !Important;
	padding-right: 10px;
	border-right: 2px solid black;
	padding-top: 3px;
	padding-bottom: 4px;
	cursor:pointer;
}

.navBarLogInButton{
	text-align: left !Important; 
	padding-left: 10px;
	cursor:pointer;
	padding-top: 3px;
}