header{
	text-align: center;
	color: #373737;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
	height: 45px;
	overflow: hidden;
	line-height: 100%;
}

header h2{
	font-size: 15px;
	font-family: Nunito-ExtraLight;
	margin-top: -6px;
	transition: 0.1s;
}

.mainNavBarButton h2:hover{
	color: 	#38c0ff;
}

.logo  img{
	height: 35px;
	margin: 5px;
	cursor:pointer;
}

.mainNavBarButton{
	margin-top: 15px;
	padding-bottom: 5px;
	position: relative;
}

.navBarExploreButton{
	cursor: pointer;
	text-align: left !Important;
	padding-top: 5px;
}

.navBarSignUpButton{
	text-align: right !Important;
	padding-right: 10px;
	border-right: 2px solid black;
	padding-top: 5px;
	padding-bottom: 2px;
	cursor:pointer;
}

.navBarLogInButton{
	text-align: left !Important; 
	padding-left: 10px;
	cursor:pointer;
	padding-top: 5px;
}


/*search bar*/
#wrap {
  display: inline-block;
  height: 60px;
  float: right;
  position: relative;
  top: 10px;
  right: 10%;
}

#wrap input[type="text"] {
  height: 30px;
  font-size: 20px;
  display: inline-block;
  font-family: Nunito-Regular;
  font-weight: 100;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

#wrap input[type="text"]:focus {
  width: 20vw;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
#wrap input[type="submit"] {
  height: 20px;
  width: 33px;
  display: inline-block;
  color:black;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  background-size: contain; 
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  margin-top: 2px;
}

#wrap input[type="submit"]:hover {
  opacity: 0.8;
}