.statsBar{
	text-align: center;
	background-color: #38c0ff!Important;
	color: white;
	padding-top: 10px;
	line-height: 100%;
}

.statsBar p{
	padding: 10px !important;
	font-family: Nunito-Regular;
}

.statsBarNumber{
	font-size: 30px;
	margin-right: 5px;
}

.statsBarText{
	font-size: 18px;
	letter-spacing: 1px;
}

h2.whatWeDoHeading{
	font-size: 30px;
	text-align: center;
	padding-bottom: 1%;
	padding-right: 5px;
	position: relative;
	display: inline-block;
	margin-bottom: 3%;
	letter-spacing: 1px;
	font-family: Montserrat-SemiBold;
}

h2.whatWeDoHeading:before{
	  content: "";
    position: absolute;
    width: 8.6%;
    bottom: 0;
    left: 46%;
    border-bottom: 2px solid #38c0ff;
}

.connectWithFacebook {
    background-color: #f8f8ff;
    padding: 4vw 3vw 4vw 3vw;
    position: relative;
    height: 25vw;
  line-height: 400%;
}
.connectWithFacebookLine {
  position: absolute;
  padding-top: 1.3%;
  border-right: 1px solid black;
  padding-bottom: 1%;
}
.connectWithFacebook h1{
	font-size: 50px;
	font-family: Nunito-Light;
	letter-spacing: 1.5px;
}
.connectWithFacebook span{
	color: #39c0ff;
	font-family: Montserrat-SemiBold;
}
.connectWithFacebookImage{
	position: absolute;
	top: 42%;
	left: 70%;
}
.connectWithFacebookImage img {
    height: 53px;
    position: absolute;
    cursor: pointer;
}
.connectWithFacebookImage img:hover {
    height: 55px;
    margin-top: -2px;
    margin-left: -2px;
}


.trustNetwork{
	height: 32.9vw;
	background-image: url(images/reimagineTrustNetworkBackground.png);
	background-size: contain;
	position: relative;
	font-family: Montserrat-Regular;
}

/*trustNetworkButton*/

.content {
    font-family: Nunito-Light;
    color: white;
    margin-left: 50%;
    padding-top: 10%;
    font-size: 20px;
    margin-right: 5%;
}

.trustNetworkButton {
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: absolute;
  bottom: 0;
  right: 5%;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  background: rgb(255,255,255);
  font-weight: 100;
  color: rgb(0,180,255);
  text-align: center;
}

.trustNetworkButton svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.trustNetworkButton rect {
  fill: none;
  stroke: rgb(255,255,255);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.trustNetworkButton:hover {
  background: rgba(225, 51, 45, 0);
  color:white;
  font-weight: 900;
  letter-spacing: 1px;
}
.trustNetworkButton:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.trustNetworkHeading{
	position: absolute;
	bottom: 35%;
	left: 5.65%;
	color: white;
  letter-spacing: 0.5px;
}
.content{
  font-family: Montserrat-Regular;
  letter-spacing: 2px;
  line-height: 140%;
}
.content span {
    font-family: Montserrat-Bold;
}

.trustNetworkHeading span{
	font-family: Montserrat-SemiBold;
}