.projectPageLeft{
	margin-left: 8.33%;
}
.projectPageRight{
	padding-left: 10px;
}
.projectPageProjectBasicInfo{
	position: relative;
	padding-top: 5px;
	font-family: Roboto-Regular;
	height: 23.33vw;
	color: black;
}

.projectPageTitle{
	font-size: 16px;
	padding-left: 5px;
	line-height: 140%;
	font-family: Rajdhani-Medium;
	border-bottom: 2px solid #38c0ff;
	padding-bottom: 3px;
	margin-bottom: 3px;
	margin-top: 5px;
}
.projectPageProjectInfo {
    margin-bottom: 10px;
    border-bottom: 1px solid #e8eae9;
    color:  #b4b4b4;
}
.projectPageProjectLocation p{
	border-right: 1px solid #e8eae9;
	border-left: 1px solid #e8eae9;
	margin-bottom: 1px;
}
.projectPageProjectInfo p{
	padding-left: 5px;
	font-family: Rajdhani-Regular;
	font-size:15px;
}

.projectPageProjectMainImage{
	height: 23.33vw;
	overflow: hidden;
}

.projectPageMainTabs{
	text-align:center; 
	border-bottom:0.1px solid #d1d1d1;
}
.projectPageMainTabs h2{
	padding: 10px;
	margin-left: 15%;
	margin-right: 15%; 
}
.projectPageMainTabs h2 {
    cursor: pointer;
}
.projectPageMainTabs h2:hover {
    border-bottom: 2px solid #11baff;
    padding-bottom: 8px;
}

.projectStory{
	padding: 10px;
}

.projectStory p {
    line-height: 114%;
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.5px;
}

.projectPageProjectMainImage img{
	position: relative;
	max-width: 100%;
}

.projectPageProjectInfoBottom{
	position: absolute;
	bottom: 0;
	padding-right: 6px;
}

.projectPageProjectTagLine {
  background-color: #f6f6f6;
  padding: 11px;
  font-size: 12px;
  font-family: Roboto-Regular;
  color: black;
}
.projectPageProjectFundRequired {
  font-family: Roboto-Bold;
  font-size: 17px;
  margin-bottom: 15px;
  padding-right: 12px;
}

.projectPageProjectProgress {
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #f1f1f5;
  margin-right: 0px;
}

.progress-bar {
	width: 50%;
	background-color: #38c0ff;
	height: 5px;
	border-radius: 2px;
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.projectPageProjectStats {
    margin-bottom: 15px;
}
.statsNumber {
    font-family: MyriadPro-Bold;
    font-size: 15px;
}
.statsText {
    font-family: Roboto-Light;
    font-size: 13px;
}
.projectPageDonate{
	background-color: #38c0ff;
	border-right: 2px solid white;
	text-align: center;
	padding-left: 1px;
	padding: 10px;
	border-radius: 4px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}
.projectPageDonate:hover {
    padding: 8.5px;
    font-size: 14px;
    font-weight: bold;
	  background-color: #00a2e5;
}
.projectPageShare:hover {
    padding: 8.5px;
    font-size: 14px;
    font-weight: bold;
	background-color: #344d86;
}
.projectPageShare{
	background-color: #3b589a;
	border-left: 2px solid white;
	text-align: center;
	padding-right: 1px;
	padding: 10px;
	border-radius: 4px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.projectPageDonation{
	position: relative;
	height: 36vw;
	border: 1px solid #f1f2f6;
	margin-top: 30px;
	margin-bottom: 30px;
}
.projectPageDonationOptions p{
	text-align: center;
	padding: 10px;
	color: #9a9a9a;
	font-size: 15px;
}
.projectPageDonationOptions p:hover{
	font-weight: bold;
	padding:9px;
	font-size: 16px;
	background-color: #a7a7a7;
	color: white;
}
.projectPageDonationOptions h2{
	text-align: center;
	padding: 10px;
	color: black;
	font-size: 10px;
}
.projectPageDonationOption {
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.projectPageDonationOptionsMonthly{
	background-color: #d8d8d8;
	cursor:pointer;
}
.projectPageDonationOptionsOnce{
	background-color: white;
	cursor:pointer;
}
.projectPageDonationAmount, .projectPageDonationReason{
	font-size: 10px;
	font-family: MyriadPro-Regular;
	padding-top: 16px;
	padding-bottom: 16px;
	cursor:  pointer;
}
.projectPageDonationReason:hover{
	background-color: white;
	border: 1px solid #cbefff;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left:9px;
}
.projectPageDonationAmount{
	text-align: center;
	background-color: #82dafe;
	border: 1px solid #ccfoff;
	/*! padding-top: 0px; */
	/*! padding-top: 16px; */
}
.projectPageDonationReason{
	background-color: #ccf0ff;
	padding-left: 10px;
	border: 1px solid #ccfoff;
}