.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    width: 100%;
	height: 0;
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	background: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    /*! align-content: center; */
}

#LogInForms, #SignUpForms{
	opacity: 0;
	transition: 0.4s;
}

.translucentContainer{
	position:absolute;  
    height: 100%;  
    width:100%;  
    background-color: white; 
    opacity: 0.2; 
	transition: 0.4s;
}

/* Position the content inside the overlay */
.overlayContent {
    position: relative;
    width: 33%; 
    text-align: left;
	left: 50%;	
	/*! background-color: #69ceff ; */
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Nunito-Regular;
	transition: 0.4s;
	/*! opacity: 0; */
}

/* The navigation links inside the overlay */
.overlay a {
	cursor: pointer;
    text-decoration: none;
    font-size: 24pt;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
	padding-left: 0;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay h2 {
    text-decoration: none;
    font-size: 15pt;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    padding-left: 0px;
    margin-bottom: 2px;
	margin-top: 2px;
}

.overlay p{
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 0;
}

.overlay .closebtn {
    position: absolute;
	right: 5px;
	top: -21px;
    font-size: 42pt;
	padding: 0 !Important;
    color: black;
    font-weight: bold;
}

.Loginclosebtn{
    position: absolute;
	  right: 5px;
    font-size: 45px !Important;
	padding: 0 !Important;
    top: -12px;
}

#SignUpButton{
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-top: 5%;
	background-color: #344348;
	color:  #69ceff  !important;
	padding: 6px;
}
#LogIn{
	/*! cursor: pointer; */
	font-weight: bold;
}
.inputFieldHeadings h2{
	float: left;
}
.inputFieldHeadings p{
	margin : 0;
}

.registrationOptions, .LoginOption{
	float: left; 
	padding: 4px 0px 4px 10px;
	background-color: #7dcae6;
	text-align: center;
	color: white !Important;
	font-family: Nunito-Bold;
}

.optionDonorHeading{
	border-right: 4px solid #02a8e4;
	margin: 0;
	padding: 0;
}

.overlay-content h2{
	width: 100%;
	text-align: left;
}

.overlay input[type=text], input[type=digits], input[type=password]{
    width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 14pt;
	padding: 8px 20px 8px 5px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s
}

