.row.teamPageUL {
    margin: 5% 0;
    list-style: none;
	background: black;
}

.teamMemberBasicInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 1s ease;
    width: 70%;
}

.teamMemberBasicInfo1, .teamMemberBasicInfo2, .teamMemberBasicInfo3, .teamMemberBasicInfo4, .teamMemberBasicInfo5, .teamMemberBasicInfo6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s ease;
	width:70%;
}
.teamMemberInfo1,  .teamMemberInfo2,  .teamMemberInfo3,  .teamMemberInfo4,  .teamMemberInfo5,  .teamMemberInfo6{
	width:33.33%;
	display: block;
	transition: width 0.5s ease;
}
.teamMemberName{
	font-size: 40px;
font-family: Poppins-Regular;
text-align: center;
}
.teamMemberDesignation{
	font-size: 25px;
font-family: SourceSansPro-Light;
text-align: center;
    padding: 5px 0px 20px 0px;
}
.teamMemberSocialIcons {
    text-align: center;
    border-top: 2px solid white;
    padding: 10px;
}
.teamMemberSocialIcons a{
    padding: 15px;
}
.teamPage:hover .teamMemberBasicInfo{
    opacity: 1;
    color: white;
}
.teamPage:hover img{
    opacity: 0.8;
}
.teamPage, .teamPage1{
    position: relative;
}
.teamPage1{
	background: white;
}

.teamPage, .teamPage1{
	float: left;
	overflow: hidden;
	padding: 0;
	margin-bottom: -6px;
}

.teamMemberSocialIcons i {
    font-size: 30px;
    text-align: center;
}
.teamPage img, .teamPage1 img{
    width: 100%;
}

.active3{
	display: none;
	width: 0;
}
.active4{
	display: none;
	width:0;
}

header
{box-shadow: none !important;}